In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Inventory.csv.csv')
df

         location  product_type         product_description  quantity  price
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

In [3]:
df.describe()

        quantity      price
count  29.000000  29.000000
mean   40.758621  23.024483
std    35.183859  23.810986
min     0.000000   3.990000
25%     5.000000  12.990000
50%    36.000000  17.990000
75%    76.000000  19.990000
max    98.000000  89.990000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             29 non-null     object
 1   product_type         29 non-null     object
 2   product_description  29 non-null     object
 3   quantity             29 non-null     int64
 4   price                29 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.3+ KB

### 1.  what products are sold at your Staten Island location?

In [5]:
df[df['location']=='Staten Island'].product_description

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

### 2.what types of seeds are sold at the Brooklyn location.

In [7]:
df[df['location']=='Brooklyn'].product_description.unique()

array(['daisy', 'calla lily', 'tomato', 'rake', 'wheelbarrow', 'spade',
       'insect killer', 'weed killer', '20 inch terracotta planter',
       '8 inch plastic planter'], dtype=object)

### 3.Add a column called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.

In [9]:
df['in_stock']=df.quantity.apply(lambda row: True if row>0 else False)
df

,location,product_type,product_description,quantity,price,in_stock
0,Staten Island,seeds,daisy,4,6.99,True
1,Staten Island,seeds,calla lily,46,19.99,True
2,Staten Island,seeds,tomato,85,13.99,True
3,Staten Island,garden tools,rake,4,13.99,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,False
5,Staten Island,garden tools,spade,93,19.99,True
6,Staten Island,pest_control,insect killer,74,12.99,True
7,Staten Island,pest_control,weed killer,8,23.99,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,True
10,Brooklyn,seeds,daisy,50,6.99,True
11,Brooklyn,seeds,calla lily,0,19.99,False
12,Brooklyn,seeds,tomato,0,13.99,False
13,Brooklyn,garden tools,rake,15,13.99,True
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True
15,Brooklyn,garden tools,spade,36,19.99,True
16,Brooklyn,pest_control,insect killer,80,12.99,True
17,Brooklyn,pest_control,weed killer,76,23.99,True
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True
20,Queens,seeds,daisy,57,6.99,True
21,Queens,seeds,calla lily,95,19.99,True
22,Queens,seeds,tomato,45,13.99,True
23,Queens,garden tools,rake,21,13.99,True
24,Queens,garden tools,wheelbarrow,98,89.99,True
25,Queens,garden tools,spade,26,19.99,True
26,Queens,pest_control,insect killer,0,12.99,False
27,Queens,pest_control,weed killer,16,23.99,True
28,Queens,planter,20 inch terracotta planter,87,17.99,True

### 4.Create a column called  total_value that is equal to price multiplied by quantity.

In [11]:
df['total_value']=df.apply(lambda row: row['price']*row['quantity'],axis=1)
df

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,27.96
1,Staten Island,seeds,calla lily,46,19.99,True,919.54
2,Staten Island,seeds,tomato,85,13.99,True,1189.15
3,Staten Island,garden tools,rake,4,13.99,True,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00
5,Staten Island,garden tools,spade,93,19.99,True,1859.07
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47
10,Brooklyn,seeds,daisy,50,6.99,True,349.50
11,Brooklyn,seeds,calla lily,0,19.99,False,0.00
12,Brooklyn,seeds,tomato,0,13.99,False,0.00
13,Brooklyn,garden tools,rake,15,13.99,True,209.85
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True,7379.18
15,Brooklyn,garden tools,spade,36,19.99,True,719.64
16,Brooklyn,pest_control,insect killer,80,12.99,True,1039.20
17,Brooklyn,pest_control,weed killer,76,23.99,True,1823.24
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True,89.95
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True,103.74
20,Queens,seeds,daisy,57,6.99,True,398.43
21,Queens,seeds,calla lily,95,19.99,True,1899.05
22,Queens,seeds,tomato,45,13.99,True,629.55
23,Queens,garden tools,rake,21,13.99,True,293.79
24,Queens,garden tools,wheelbarrow,98,89.99,True,8819.02
25,Queens,garden tools,spade,26,19.99,True,519.74
26,Queens,pest_control,insect killer,0,12.99,False,0.00
27,Queens,pest_control,weed killer,16,23.99,True,383.84
28,Queens,planter,20 inch terracotta planter,87,17.99,True,1565.13

### 5.create a new column called  full_description that has the complete description of each product. ( product type and product description)

In [14]:
df['full_description']=df.apply(lambda row : row['product_type'] + ' and '+row['product_description'],axis=1)
df

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds and daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds and calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds and tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools and rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools and wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,True,1859.07,garden tools and spade
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26,pest_control and insect killer
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92,pest_control and weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00,planter and 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47,planter and 8 inch plastic planter
10,Brooklyn,seeds,daisy,50,6.99,True,349.50,seeds and daisy
11,Brooklyn,seeds,calla lily,0,19.99,False,0.00,seeds and calla lily
12,Brooklyn,seeds,tomato,0,13.99,False,0.00,seeds and tomato
13,Brooklyn,garden tools,rake,15,13.99,True,209.85,garden tools and rake
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True,7379.18,garden tools and wheelbarrow
15,Brooklyn,garden tools,spade,36,19.99,True,719.64,garden tools and spade
16,Brooklyn,pest_control,insect killer,80,12.99,True,1039.20,pest_control and insect killer
17,Brooklyn,pest_control,weed killer,76,23.99,True,1823.24,pest_control and weed killer
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True,89.95,planter and 20 inch terracotta planter
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True,103.74,planter and 8 inch plastic planter
20,Queens,seeds,daisy,57,6.99,True,398.43,seeds and daisy
21,Queens,seeds,calla lily,95,19.99,True,1899.05,seeds and calla lily
22,Queens,seeds,tomato,45,13.99,True,629.55,seeds and tomato
23,Queens,garden tools,rake,21,13.99,True,293.79,garden tools and rake
24,Queens,garden tools,wheelbarrow,98,89.99,True,8819.02,garden tools and wheelbarrow
25,Queens,garden tools,spade,26,19.99,True,519.74,garden tools and spade
26,Queens,pest_control,insect killer,0,12.99,False,0.00,pest_control and insect killer
27,Queens,pest_control,weed killer,16,23.99,True,383.84,pest_control and weed killer
28,Queens,planter,20 inch terracotta planter,87,17.99,True,1565.13,planter and 20 inch terracotta planter